.whole_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.select_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .btn_container{
  display: flex;
  align-items: center;
  justify-content: end;
} */
.stack_container{
  border: 2px solid #d4531f;
}
.stack_item{
  background-color: #6867AC50;
  color: #303030;
  font-weight: 500;
}

/* Community write Button CSS */
.write_btn{
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 5px 10px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
/* Modal Title,Content Container div */
.titleContainer{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.contents{
  display: flex;
  margin-top: 0.9%;
  margin-bottom: 2%;
}
.contents input{
  width: 90%;
  padding: 1%;
  border: 1px solid rgb(31, 24, 24);
  border-radius: 0.15rem;
  font-size: 16px;

}
.contents textarea{
  width: 90%;
  font-size: 13px;
  padding: 1%;
  border-radius: 0.5rem;
  text-decoration: none;
  border: 1px solid rgb(63, 45, 45);
}

/* Modal Button div */
.btnContainer{
  display: flex;
  align-items: center;
  justify-content: end;
}

/*Modal button css*/
.modalBtn {
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  background-color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  margin-top: 1%;
}

.modalBtn:first-child{
  margin-right: 1%;
}
.modalBtn:not(:disabled):hover {
  transform: scale(1.05);
}

.modalBtn:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.modalBtn:focus {
  outline: 0 solid transparent;
}

.modalBtn:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.modalBtn:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.modalBtn:focus:not(:focus-visible):before {
  border-width: 0;
}

.modalBtn:not(:disabled):active {
  transform: translateY(.125rem);
}