.whole_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.select_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .btn_container{
  display: flex;
  align-items: center;
  justify-content: end;
} */
.stack_container{
  border: 2px solid #d4531f;
}
.stack_item{
  background-color: #303030;
  color: #fff;
}
.write_btn{
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 5px 10px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
