.community_category123 {
    margin-bottom: 100px;
}
.gymApi{
  @media screen and(min-width:1500px) {
    position:'absolute';
    width: "100vw";
    height: "15vh";
    margin-left: "calc(-50vw + 50%)";
    background-color: "#9B8BFF";
    overflow: "hidden";
    padding-bottom: "3%";
    top:"152.5%";
    left:0;
    right:0;    
  }
}