.navlink{
  align-items: center;
  justify-content: end;
  display: flex;
}
.links{
  font-size: 0.8rem;
  text-decoration: none;
  color: rgb(99, 96, 96);
  margin-left: 1%;
  font-weight: bold;
}
.links:hover{
  color: blue;
}
.second_container{
  display: flex;
  margin-top: 3%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main{
  display: flex;
}

.logoImg{
  width: 8rem;
  height:8rem;
}
.search_container{
  display: flex;
}
.icon_contier{
  display: flex;
}
.inside_container{
  display: inline;
  margin-right: 16px;
}
.icon_links{
  display: flex;
  text-decoration: none;
  color: rgb(99, 96, 96);
  font-weight: bold;
  align-items: center;
  justify-content: space-evenly;
  font-size: 190%;
}
.icon_links:last-child{
  margin: 0;
}

.icon_name{
  margin: 0;
  padding: 0;
}
.icon_links:hover{
  color: rgb(255, 0, 212);
}
