.form_container{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100vh;
}
.mainLogo{
  display: flex;
  justify-content: center;
  align-content: center;
}
.mainLink{
  font-size: 5rem;
  text-decoration: none;
  color: #6867AC;
}
.idInput{
  display: flex;
  justify-content: center;
  align-content: center;
  
}
label{
  font-size: 140%;
}
.pwInput{
  display: flex;
  justify-content: center;
  align-content: center;
  
}
.submitBtn{
  display: flex;
  justify-content: center;
  align-content: center;
   margin-top: 7%;
  margin-bottom: 5%;
}
.submitBtnStyle{
  background-color: #eeddff;
  border:1px solid;
  height: 50px;
  width: 80%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.textBox{
  height: 50px;
  width: 80%;
  font-size: 20px;
}
.loginMainContentes{
  position: flex;
  transform: translateX(33%);
  border:2px solid;
  color: #555555;
  width: 60%;
  border-radius: 10px;
  padding-top: 3%;
  margin-top: 3%;
}
.findId{
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 1%;
  font-size: 140%;
}
.btLine{
  position: flex;
  transform: translateX(27%);
  border-top:3px solid;
  width: 65%;
  margin-top: 1%;
}
.snsLogin{
  float: left;
  display: flex;
  justify-content:space-around;
  align-content: center;
  transform: translateX(33%);
  width: 60%;
  margin-top: 2%;
  margin-bottom: 2%;
}