.findAccount{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 140%;
  margin-top: 8%;
}
.inputAddr{
  height: 50px;
  font-size: 20px;
  margin-top: 3%;
}
.findAccBtn{
  margin-top: 3%;
  height: 50px;
  width: 70px;
  margin-left: auto;
  margin-bottom: 2%;
}