.v50_ {
    width: 500px;
    height: 70px;
    background: rgba(238,221,255,1);
    opacity: 1;
    position: absolute;
    top: 80px;
    text-align: center;
    padding-top: 10px;
    overflow: hidden;
  }
  